<div class="row">
    <div class="col-lg-12">
        <h3>Welcome to MONOPOLY!</h3>
        <hr>
    </div>
    <button id="start_button" style="visibility: hidden">ROLL</button>
    <h3 id="start_string">GAME MONOPOLY</h3>
    <textarea id="board-log" cols="100" rows="20"></textarea><br>
    <button id="yes_button" style="visibility: hidden">YES</button>
    <button id="no_button" style="visibility: hidden">NO</button>



    <script>
        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
        );

        var HttpClient = function() {
        this.get = function(aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function() {
                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                    aCallback(anHttpRequest.responseText);
            }

            anHttpRequest.open( "GET", aUrl, true );
            anHttpRequest.send( null );
        }
        }
        var client = new HttpClient();

        document.querySelector('#start_button').onclick = function(e) {
            gameSocket.send(JSON.stringify({
                'action' : 'game_start',
            }));
            document.getElementById("start_button").style.visibility = 'hidden';
        };

        gameSocket.onmessage = function(event) {
            var msg = JSON.parse(event.data);
            console.log(msg)
            switch(msg.action) {
                case "turn":
                    document.getElementById("start_button").style.visibility = 'visible';
                    break;
                case "sth":
                    document.querySelector('#board-log').value += (msg.message + '\n');
                    break;
                case "card_buy":
                    let dice = msg.roll;
                    let name = msg.buy;
                    let price = msg.price;
                    let zone = msg.zone;
                    let house = msg.house
                    let message = ''
                    message = message.concat("You dice: ", dice, "\nYou can buy ", name, " for ", price, " in zone: ", zone, ", where house cost: ", house)
                    document.querySelector('#board-log').value += (message + '\n========================\n');
                    document.getElementById("yes_button").style.visibility = 'visible';
                    document.getElementById("no_button").style.visibility = 'visible';

                    document.querySelector('#yes_button').onclick = function(e) {
                        gameSocket.send(JSON.stringify({
                            'action' : 'buy_card',
                        }));
                        document.getElementById("yes_button").style.visibility = 'hidden';
                        document.getElementById("no_button").style.visibility = 'hidden';
                    };

                    document.querySelector('#no_button').onclick = function(e) {
                        gameSocket.send(JSON.stringify({
                            'action' : 'end_turn',
                        }));
                        document.getElementById("yes_button").style.visibility = 'hidden';
                        document.getElementById("no_button").style.visibility = 'hidden';
                    };

                    break;
                case "update":
                    client.get('http://0.0.0.0:8000/api/board', function(response) {
                        console.log(response)
                        document.querySelector('#board-log').value += ('Got update! See in console!\n========================\n');
                    });
                    break;
                case "message":
                    document.querySelector('#board-log').value += (msg.message + '\n========================\n');
                    break;
            };
        };

    </script>

</div>